* {
    font-family: "JetBrainsMono Nerd Font" ,FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
    border: 0;
    padding: 0 0;
    transition: all 0.5s ease;
}
window#waybar {
    background-color: #1d2021;
    border-bottom: 3px solid #282828;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}
